{% extends 'layout.html' %}

{% block content %}

    <!-- ensure the / is infront of path to advoid error -->
	<form action="/auth/create/submit" method="post">
        <label for="username">Username:</label>
        <input type="email" name="username" value="{{ un }}"/>
        <br />
        <label for="password">Password:</label>
		<input type="password" name="password" value="{{ pw }}"/>

        <br />
        <br />
        <label for"first_name">First Name:</label>
        <input type="text" name="first_name" value="{{ fn }}"/>

        <br />
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" value="{{ ln }}"/>

        <br />
        <label for="dob">Date of Birth</label>
        <input type="date" name="dob" value="{{ db }}"/>

        <br />
        <label for="address">Address:</label>
        <input type="text" name="address" value="{{ a }}"/>


        <br />
        <br />
        <label for="county">County Office:</label>
        <select name="county" onchange="window.location.search = '?county=' + options[selectedIndex].value;">
            {% for c in counties %}
                {% if c.UID_County_Office == cv %}
                    <option value="{{ c.UID_County_Office }}" selected>{{ c.Office_Name|e }}</option>
                {% else %}
                    <option value="{{ c.UID_County_Office }}">{{ c.Office_Name|e }} </option>
                {% endif %}
            {% endfor %}
        </select>

        <br />
        <label for="social_worker">Social Worker:</label>
        <select name="social_worker">
            {% for w in workers %}
                {% if w.UID_Social_Worker == uid_sw %}
                    <option value="{{ w.UID_Social_Worker }}" selected>{{ w.Last_Name|e }}, {{ w.First_Name|e }}</option>
                {% else %}
                    <option value="{{ w.UID_Social_Worker }}">{{ w.Last_Name|e }}, {{ w.First_Name|e }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <br />
        <br />
		<input type="submit" name="create" value="Create"/>
	</form>
{% endblock content %}