{% extends 'layout.html' %}

{% block content %} 
<div class="page-header">
    <h style="font-size: 40px;">DHS Client Sign In</h>
    <hr />
</div>

<div class="clientcol">
    <!-- ensure the / is infront of path to advoid error -->
    <form action="/auth/login" method="post">
        <div class="row">
            <label class="labelcol" for="username">Username:</label>
            <input class="inputcol" type="text" name="username" />
        </div>

        <div class="row">
            <label class="labelcol pass" for="password">Password:</label>
            <input class="inputcol" type="password" name="password" />
        </div>

        {% if title == 'Login Failed' %}
        <div class="login-failed">Incorrect Username or Password</div>
        {% endif %}

        <div class="row toClick"><input class="login-button"  type="submit" name="login" value="Login" /></div>
        <div class="row toClick"><input class="create-button" onclick="location.href='/auth/create'" type="button" value="Create an Account" /></form></div>
    </form>
</div>

<div class="notclientcol">
    <div class="row toClick"><a href="">Not a DHS Client?</a></div>
    <div class="row toClick"><a href="http://www.okdhs.org" target="_blank">Learn More</a></div>
</div>

    
{% endblock content %}