body {
    font-family: 'Lato', sans-serif;
}

/* ---------- Layout Page ---------- */
.content-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content {
    display: inline-block;
    width: 70%;
    padding: 40px 10px 40px 10px;
    border: 1px solid lightgrey
}

.title {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

.navbar {
    width: 100px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* ---------- Calendar CSS ---------- */

.deadline-container tr:nth-child(odd) {
    background-color: #efefef;
}

.deadline-container td {
    height: 50px;
}

.calendar-header {
    text-align: center;
    font-size: 30px;
}

.hidden-container {
    overflow: hidden;
}

.deadline-container {
    float: left;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-container {
    float: right;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    display: inline-block;
    border: 1px solid black;
}

.deadlines {
    display: inline-block;
}

.calendar-date {
    border: 1px solid black;
    font-size: 20px;
    position: relative;
    height: 29px;
    text-align: center;
}