{% extends "layout.html" %}

{% block content %}
	<div>
		<h2>
			<a href="{{ url_for('userViews.calendar') }}?month={{ prevMonth }}&year={{ prevYear }}"> < </a>
			{{ monthName }} | {{ year }}
			<a href="{{ url_for('userViews.calendar') }}?month={{ nextMonth }}&year={{ nextYear }}"> > </a>
		</h2>
	</div>
	<table style="border-collapse: collapse;">
		<tr>
			<th>Sun</th>
			<th>Mon</th>
			<th>Tue</th>
			<th>Wed</th>
			<th>Thur</th>
			<th>Fri</th>
			<th>Sat</th>
		</tr>
		{% for row in calData %}
			<tr>
				{% for data in row %}
					{% if data != 0 %}
						{% if data == currDate.day and year == currDate.year and month == currDate.month %}
							<td style="background-color: turquoise; width:32px; height:32px; text-align:center; vertical-align:top; border: 3px solid black;">
						{% else %}
							<td style="width:32px; height:32px; text-align:center; vertical-align:top; border: 1px solid black;">
						{% endif %}

								{{ data }}
								<div>
									{% for deadline in deadlines %}
										{% if deadline.Event_Date_Day == data %}
											<span style="background-color: rgb({{deadline.Color_R}},{{deadline.Color_G}},{{deadline.Color_B}}); height: 8px; width: 8px; border-radius: 50%; display: inline-block;"></span>
										{% endif %}
									{% endfor %}
								</div>
							</td>
					{% else %}
						<td style="width:32px; height:32px">  </td>
					{% endif %}
				{% endfor %}
			</tr>
		{% endfor %}
	</table>

	<div>
		<h2>Upcoming Deadlines</h2>
		<br />
	</div>

	<table>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Date</th>
		</tr>


		{% for deadline in deadlines %}
			<tr>
				<td>
					<span style="background-color: rgb({{deadline.Color_R}},{{deadline.Color_G}},{{deadline.Color_B}}); height: 8px; width: 8px; border-radius: 50%; display: inline-block;"></span>
				</td>
				<td>{{ deadline.Event_Name|e }}</td>
				<td>
					{{ deadline.Event_Date_Month }}/{{ deadline.Event_Date_Day }}/{{ deadline.Event_Date_Year }}
				</td>

			</tr>
		{% endfor %}
	</table>
{% endblock content %}