{% extends 'layout.html' %}

{% block content %}
<div class="page-header">
    <h>Your Profile</h>
    <hr />
</div>

<!--current user's data-->
<div class="row">

<div class="client col1">
    <button class="accordion">{{ clientData.Last_Name|e }}, {{ clientData.First_Name|e }}</button>
    <div class="clientInfo">
        <ul>
            <li>First Name: {{ clientData.First_Name|e }}</li>
            <li>Last Name: {{ clientData.Last_Name|e }}</li>
            <li>Date of Birth: {{ clientData.DOB }}</li>
            <li>Address: {{ clientData.Address|e }}</li>
        </ul>
    </div>

<!--use for a guide on how to do the accordion-->
<!--https://www.w3schools.com/howto/howto_js_accordion.asp-->

    {% for user in connectedCases %}
    <button class="accordion">{{ user.Last_Name|e }}, {{ user.First_Name|e }}</button>
    <div class="clientInfo">
        <ul>
            <li>First Name: {{ user.First_Name|e }}</li>
            <li>Last Name: {{ user.Last_Name|e }}</li>
            <li>Date of Birth: {{ user.DOB }}</li>
            <li>Address: {{ user.Address|e }}</li>
        </ul>
    </div>
    {% endfor %}
</div>

<div class="office col2">
    <!--social worker's data-->
    <button class="accordion">Your Social Worker</button>
    <div class="clientInfo">
        <ul>
            <li>First Name: {{ worker.First_Name|e }}</li>
            <li>Last Name: {{ worker.Last_Name|e }}</li>
            <li>Email: {{ worker.Email|e}}</li>
        </ul>
    </div>

    <!--user's current county office data-->
    <button class="accordion">Your County Office</button>
    <div class="clientInfo">
        <ul>
            <li>Office Name: {{ countyOffice.Office_Name|e }}</li>
            <li>Address: {{ countyOffice.Address|e }}</li>
            <li>Phone: {{ countyOffice.Phone|e}}</li>
        </ul>
    </div>
</div>

</div><!--ENDOF ROW DIV-->

<div class="update">
    <p>Is any of this information incorrect?</p>
    <button class="request">Request an Update</button>
    <div class="update-modal">
        <p>User will enter their email</p>
    </div>
</div>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("active");

            /* Toggle between hiding and showing the active panel */
            var panel = this.nextElementSibling;
            if (panel.style.display === "none") {
                panel.style.display = "block";
            } else {
                panel.style.display = "none";
            }
        });
    }
</script>

    {% endblock content %}
