{% extends "layout.html" %}

{% block content %}
<div class="page-header">
    <h>Image Uploading Center</h>
    <hr />
</div>

    <div class="tablecol">
	<table>
		<!--Table Headers-->
		<tr>
			<th>Name</th>
			<th>Date Uploaded</th>
			<th>Type</th>
			<th>View</th>
		</tr>

		<!--Table Data-->

		{% for upload in uploads %}
			<tr>
				<td>{{ upload.Doc_Name|e }}</td>
				<td>{{ upload.Date_Uploaded|e }}</td>
				<td>{{ upload.Document_Type_Name|e }}</td>
				<td >
                    <form action="/uploads/render" method="post" target="_blank">
                        <!-- TODO: hash the client UID and file name maybe -->
                        <input name="fileName" type="text" value="{{ upload.File_Name|e}}" hidden />
                        <input name="cid" type="number" value="{{ upload.Client_UID }}" hidden />
                        <input class="open" type="submit" name="renderImage" value="Open" />
                    </form>
				</td>
			</tr>
		{% endfor %}
	</table>
    </div>

    <div class="uploadcol">
	    <a href="/uploads/upload_document">Upload a new document</a>
    </div>
{% endblock content %}